
.search{
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;

    .icon{
        position: absolute;
        width: 20px;
        height: 20px;
        top: 19px;
        left: 30px;
    }

    input{
        width: 1100px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        padding: 10px;
        padding-left: 40px;
        padding-right: 30px;
    }

    .clear{
        position: absolute;
        width: 20px;
        height: 20px;
        top: 20px;
        right: 27px;
        cursor: pointer;
    }
}